.dropdown{
    background-color : #FF6060;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 30px 50px;
    
    .dropdown-toggle{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background: none repeat scroll 0% 0%;
        border: medium none;
        color: white;
        padding:0 20px;
        
        svg{
            width: 3vw;
            height: 2vw;
        }
    }
    .dropdown-menu{
        background: white;
        color: #FF6060;
    }
}