.locations {
  grid-column-gap: 10px;
  grid-row-gap: 70px;
  background-color: #f6f6f6;
  border-radius: 25px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin: 43px auto;
  padding: 50px;
  row-gap: 25px;
  width: 93%;
}

.card {
  display: block;
  position: relative;
  height: 24vw;
  width: 24vw;
  max-height: 4000px;
  max-width: 400px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  z-index: 2;
  background-blend-mode: darken;
}
.card img {
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  filter: brightness(80%);
}
.card span {
  position: absolute;
  margin-right: 20px;
  padding: 15px 20px;
  color: #fff;
  font-size: 1rem;
  height: 55px;
  width: 95%;
  text-wrap: wrap;
  bottom: 0px;
  z-index: 3;
  text-shadow: -1px 0px 4px rgba(0, 0, 0, 0.9);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

@media (min-width: 900px) and (max-width: 1400px) {
  .locations {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    overflow: hidden;
    padding: 1vw;
  }
  .card {
    width: 100%;
  }
  img {
    height: unset;
    width: 100%;
  }
}
@media (min-width: 1px) and (max-width: 900px) {
  .locations {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
  }
  .card {
    width: 100%;
  }
  img {
    height: unset;
    width: 100%;
  }
}