body {
width: 100%;
  margin: 0 auto;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.5s;
}
#root{
  display: flex;
  flex-direction: column;
}

