header {
  display: flex;
  margin: 0 100px;
  align-items: center;
  justify-content: space-between;
  padding: 45px 0;
  max-width: 1440px;
  height: 68px;
}
header img {
  height: 68px;
}
header nav {
  font-family: "Montserrat";
}
header nav a {
  text-decoration: none;
  color: #FF6060;
  padding-left: 57px;
  font-size: 3vw;
}
header nav a.active {
  text-decoration: underline;
}

@media (min-width: 900px) and (max-width: 1400px) {
  header {
    max-width: 80vw;
    height: 57px;
    margin: 0 10vw;
  }
  img {
    height: 57px;
  }
  nav {
    font-family: "Montserrat";
  }
  nav a {
    text-decoration: none;
    color: #FF6060;
    padding-left: 1vw;
    font-size: 18px;
  }
}
@media (min-width: 1px) and (max-width: 899px) {
  header {
    height: 48px;
    margin: 0 5vw;
  }
  img {
    height: 48px;
  }
  nav {
    font-family: "Montserrat";
  }
  nav .nav-link {
    text-decoration: none;
    color: #FF6060;
    padding-left: 1vw;
    font-size: 12px;
  }
}