header{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    padding: 45px 0;
    max-width: 1440px;
    height: 68px;
    img{
        height: 68px;

    }
    nav{
        font-family: 'Montserrat';
        a{
            text-decoration: none;
            color:#FF6060;
            padding-left:57px;
            font-size: 24px;
        }
    }
}
    