.banner {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  height: 223px;
  border-radius: 25px;
  overflow: hidden;
  width: 100%;
}
.banner h1 {
  position: absolute;
  width: 808px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 500;
  text-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.9);
  z-index: 2;
}
.banner img {
  height: 100%;
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  box-shadow: 0px -66px 77px 61px rgba(0, 0, 0, 0.9) inset;
  filter: brightness(70%);
}

@media (min-width: 900px) and (max-width: 1400px) {
  .banner h1 {
    font-size: 3.9vw;
  }
}
@media (min-width: 1px) and (max-width: 899px) {
  .banner {
    height: 111px;
    margin-bottom: 0;
    border-radius: 10px;
    align-items: left !important;
  }
  .banner h1 {
    text-align: left;
    width: 55vw;
    font-size: 22px;
    margin-left: 20px;
  }
}